# Node
node_modules/

# Frontend build outputs
/frontend/build/
/frontend/dist/

# Backend build outputs
/backend/build/

# Logs
npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Lockfiles
package-lock.json
